{% extends "__Layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
<div class="container">
	<div class="row main">
		<div class="col-md-12 col-centered text-center bg">
	<h1 class="heading">Log in</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="te"><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <p><strong>-- OR --</strong></p>
	<div class="social">
    <a href="{% url 'social:begin' 'google-oauth2' %}" ><span class="fa fa-google icon icon-google"></span></a><br>
    <a href="{% url 'social:begin' 'facebook' %}" ><span class="fa fa-facebook icon icon-facebook"></span></a>
	</div>
    <p><a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a></p>
</div>
	</div>
</div>
{% endblock %}