{% extends '__Layout.html' %}

{% block content %}
<div class="container">
	<div class="row main">
		<div class="col-md-12 col-centered text-center bg">
  <h2 class="heading">Settings</h2>
  {% if user.is_authenticated %}
        <p><span class="text">User:</span> {{ user.get_username }}</p>
    {% endif %}

  <h3 class="text">Google</h3>
  {% if google_login %}
    <p>Connected as {{ google_login }}</p>
    <p>Email: {{ google_login.user.email }}</p>
    <p>First name: {{ google_login.user.first_name }}</p>
    <p>Last name: {{ google_login.user.last_name }}</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Google</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Google</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Google.</p>
    {% endif %}
  {% else %}
    {% if not user.has_usable_password %}
      <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google</a>
    {% else %}
      <p>You already have all needed authorization information</p>
    {% endif %}
  {% endif %}

  <h3 class="text">Facebook</h3>
  {% if facebook_login %}
    <p>Connected as {{ facebook_login }}</p>
    <p>Email: {{ facebook_login.user.email }}</p>
    <p>First name: {{ facebook_login.user.first_name }}</p>
    <p>Last name: {{ facebook_login.user.last_name }}</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Facebook</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% else %}
    {% if not user.has_usable_password %}
      <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
    {% else %}
      <p>You already have all needed authorization information</p>
    {% endif %}
  {% endif %}
</div>
	</div>
</div>
{% endblock %}